@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&family=Quicksand:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,600&family=Quicksand:wght@400;600&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: #473328;
}

header {
  background-color: #83d69b;
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
}

.preamble {
  background-color: #473328;
  color: #c3e0A8;
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
}

.explanation {
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
  background-color: #c3e0A8;
}

.participation {
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
  background-color: #AB9260;
  font-size: 22px;
  color: white;
}

.benefits {
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
  background-color: #83d69b;
}

.design-selection, .design-archives, .zen-resources {
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
}