@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&family=Quicksand:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,600&family=Quicksand:wght@400;600&display=swap");
.page-wrapper {
  background-image: url("../images/gravel.jpg");
  border-radius: 30px;
  width: 85%;
  margin: 0 auto;
}
.page-wrapper div, .page-wrapper section {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}
.page-wrapper h1 {
  font-size: 2em;
}
.page-wrapper h1, .page-wrapper h2 {
  font-family: "Lora", serif;
  text-align: center;
}

body {
  display: flex;
  flex-flow: column wrap;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: #473328;
}

header {
  background-color: #83d69b;
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
  padding: 20px;
}

.summary {
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
  background-color: #c3e0A8;
  color: #473328;
  padding: 20px;
}

.preamble {
  background-color: #473328;
  color: #c3e0A8;
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
  padding: 20px;
}

.explanation, .requirements, .zen-resources {
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
  background-color: #c3e0A8;
  padding: 20px;
}

.participation h3 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #473328;
}

.participation, .design-selection {
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
  background-color: #AB9260;
  font-size: 22px;
  color: white;
  padding: 20px;
}

.benefits, .design-archives {
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
  background-color: #83d69b;
  padding: 20px;
}

.doghouse {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: slide 3s 1;
}
.doghouse img {
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
  margin: 0 auto;
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.paw {
  width: 100%;
  animation: wiggle 2s infinite;
  justify-content: space-around;
}

.paw img {
  background-color: #83d69b;
  border-radius: 30px;
  padding-bottom: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateY(0);
  }
  15% {
    transform: rotateY(-15deg);
  }
  20% {
    transform: rotateY(10deg);
  }
  25% {
    transform: rotateY(-10deg);
  }
  30% {
    transform: rotateY(6deg);
  }
  35% {
    transform: rotateY(-4deg);
  }
  40%, 100% {
    transform: rotateY(0);
  }
}
footer {
  border-radius: 30px;
  border-width: 2px;
  border: #473328 solid;
  background-color: #c3e0A8;
  padding-top: 1.5%;
  padding-bottom: 0;
  font-size: 14px;
  text-align: center;
  display: block;
  background-image: url("../svgs/LilPaw.svg");
  background-repeat: no-repeat;
  height: 180px;
  background-position: top;
  margin: 0 auto;
  margin-top: 10px;
  background-attachment: fixed;
  background-position: left left;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
footer a {
  text-decoration: none;
  font-size: 16px;
  width: 20%;
  margin: 0 auto;
  color: #c3e0A8;
  background-color: #AB9260;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px;
}
footer a:hover {
  color: #AB9260;
}

@media only screen and (min-width: 950px) {
  body {
    background-color: #c3e0A8;
    width: 100%;
  }

  .page-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    margin: 0 auto;
  }

  aside {
    grid-column: 2;
    width: 100%;
    grid-row: 1;
  }

  .intro {
    grid-column: 1/2;
    width: 100%;
  }
  .intro h1 {
    animation: slide 2s ease-in 2s 1;
  }
  .intro h2 {
    animation: slide 3s ease-in 2s 1;
  }
  .intro .summary {
    background-image: url(/images/blue-doghouse.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    margin-right: 0;
    margin-left: 0;
    color: #83d69b;
    text-shadow: #473328 -1px -1px;
    height: 355px;
  }
  .intro .summary a {
    color: #473328;
    text-shadow: #83d69b -1px -1px 0;
    background-color: #83d69b;
    padding: 5px;
    border-radius: 15px;
  }
  .intro header {
    grid-column: span 2;
    width: 95%;
    display: block;
  }
  .intro div {
    display: block;
    width: auto;
  }
  .intro #zen-preamble {
    border-color: #c3e0A8;
    padding-right: 5%;
    margin-right: 3%;
  }
  .intro p {
    height: 60px;
  }

  #zen-supporting {
    grid-column: 1/3;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #zen-supporting div {
    width: 80%;
    overflow: hidden;
    margin-left: 2.5%;
    height: 400px;
  }
  #zen-supporting p {
    height: 200px;
    margin-top: 20px;
  }
  #zen-supporting .explanation {
    background-image: url(/images/IMG_20220404_211708861_processed.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 88%;
    grid-column: 1/3;
    text-shadow: #83d69b 1px 1px 0;
    font-size: 20px;
  }
  #zen-supporting .explanation :nth-child(3) {
    color: white;
    text-shadow: #473328 2px 2px 0;
  }
  #zen-supporting .participation {
    grid-column: 1;
    margin-left: 5%;
    overflow: hidden;
  }
  #zen-supporting .requirements {
    grid-column: 1/3;
    width: 88%;
    background-image: url(/images/IMG_20220118_181938.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #83d69b;
    text-shadow: #473328 1px 1px 0;
  }
  #zen-supporting footer {
    grid-column: 1/3;
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    background-image: url("../svgs/paw-prints2 (1).svg");
    width: 88%;
    margin-left: 3.5%;
    height: 120px;
    background-size: 120px 45px;
    background-repeat: repeat;
    padding-bottom: 5px;
    background-color: #83d69b;
  }
  #zen-supporting footer li {
    width: 60%;
  }
  #zen-supporting footer a {
    font-size: 18px;
    text-decoration: none;
    margin-left: 2px;
    padding: 15px;
    display: inline-block;
    text-align: center;
    height: 30px;
    background-color: #473328;
    width: 20%;
    margin-top: 15px;
    color: #c3e0A8;
    border-radius: 30px;
    border-width: solid;
    border: #473328 2px;
  }
}

/*# sourceMappingURL=styles.css.map */
