// new mixins for second style for zen team assignment
@use 'variables' as *;
@mixin set-heading-font($font: $headerFont, $headerColor: $darkBrown){
    font-family: $font;
    color: $headerColor;
}

@mixin set-body-font(){
  font-family: $bodyFont;
  font-size: $copySize;
}
@mixin uppercase($color: $darkBrown) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color;
}
@mixin coloredBackground{
    background-color: $sageGreen;
    color:$darkBrown;
}
@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}
@mixin body-background{
  background-color: $sageGreen;
}
@mixin colorVaried($color:$bodyAltCol,$size:22px){
  background-color: $color;
  font-size: $size;
  color:$whiteText;
}
@mixin border($width:1px,$decor:solid){
  border-radius:30px;
  border-width: $width;
  border:$darkBrown $decor;
}
// begin implementing generic rulesets
body{
  background-color: $sageGreen;
  @include set-flex($direction:column, $wrap:wrap);
  @include set-body-font();
  color:$darkBrown;
}
