@use 'variables'as *;
@use 'mixins' as *;

.pagewrapper{
    width: 80%;
    @include set-body-font;
    @include set-flex;
    background-color: #AB9260;
    width:80%;
    background-image:url("../images/gravel.jpg");
}
header{
    @include border(2px,solid);
    background-color: $sageGreen;
    color:$darkBrown;
}

body{
    @include set-flex($direction:column, $wrap:wrap);
    @include set-body-font();
    color:$darkBrown;
  }
