@use 'variables' as *;
@use 'mixins' as m;

.pagewrapper{
    max-width: 80%;
    @include body-background;
}
.header{
    @include border(2px,solid);
    background-color: $sageGreen;
    color:$darkBrown;
}
.summary{
    @include border(2px, solid);
    color:$darkBrown;
}