// creating variable for use throughout assignment
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,600&family=Quicksand:wght@400;600&display=swap');
$bodyFont: 'Quicksand', sans-serif;
$headerFont: 'Lora', serif;
$header1size: 44px;
$copySize: 18px;
$bodyColor: #83d69b;
$bodyAltCol: #AB9260;
$darkBrown: #473328;
$sageGreen:#c3e0A8;
$whiteText: white;